# Lab - Customer Analysis Round 6

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

numerical = pd.read_csv('datalab2_numerical.csv')
numerical_x=pd.read_csv('datalab2_numerical_x.csv')

categorical = pd.read_csv('datalab2_categorical.csv')
categorical = categorical.drop(['Unnamed: 0','customer','effective to date'],axis=1)
categorical

,state,response,coverage,education,employmentstatus,gender,location code,marital status,policy type,policy,renew offer type,sales channel,vehicle class,vehicle size
0,Arizona,No,Basic,College,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize
1,California,No,Basic,College,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize
2,Washington,No,Basic,Bachelor,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize
3,Oregon,Yes,Extended,College,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize
4,California,No,Basic,Doctor,Employed,F,Urban,Married,Corporate Auto,Corporate L2,Offer2,Branch,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,Arizona,No,Basic,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer2,Branch,Two-Door Car,Medsize
9130,Nevada,No,Basic,High School or Below,Unemployed,M,Suburban,Single,Personal Auto,Personal L2,Offer1,Branch,Luxury SUV,Medsize
9131,Oregon,No,Basic,College,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize
9132,Arizona,No,Extended,Bachelor,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize
9133,California,No,Premium,College,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize

In [2]:
one_hot_names = []
for col in categorical.columns:
    col_uniques = sorted(categorical[col].unique())
    for unique in col_uniques:
        one_hot_names.append(unique)

one_hot_names

['Arizona',
 'California',
 'Nevada',
 'Oregon',
 'Washington',
 'No',
 'Yes',
 'Basic',
 'Extended',
 'Premium',
 'Bachelor',
 'College',
 'Doctor',
 'High School or Below',
 'Master',
 'Disabled',
 'Employed',
 'Medical Leave',
 'Retired',
 'Unemployed',
 'F',
 'M',
 'Rural',
 'Suburban',
 'Urban',
 'Divorced',
 'Married',
 'Single',
 'Corporate Auto',
 'Personal Auto',
 'Special Auto',
 'Corporate L1',
 'Corporate L2',
 'Corporate L3',
 'Personal L1',
 'Personal L2',
 'Personal L3',
 'Special L1',
 'Special L2',
 'Special L3',
 'Offer1',
 'Offer2',
 'Offer3',
 'Offer4',
 'Agent',
 'Branch',
 'Call Center',
 'Web',
 'Four-Door Car',
 'Luxury Car',
 'Luxury SUV',
 'SUV',
 'Sports Car',
 'Two-Door Car',
 'Large',
 'Medsize',
 'Small']

In [3]:
categorical_x = pd.DataFrame(OneHotEncoder().fit(pd.DataFrame(categorical))
                             .transform(pd.DataFrame(categorical)).toarray())
categorical_x.columns = one_hot_names

In [4]:
categorical_x

,Arizona,California,Nevada,Oregon,Washington,No,Yes,Basic,Extended,Premium,...,Web,Four-Door Car,Luxury Car,Luxury SUV,SUV,Sports Car,Two-Door Car,Large,Medsize,Small
0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
9130,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
9131,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9132,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
9133,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [5]:
x = pd.DataFrame(np.concatenate((numerical_x,categorical_x),axis=1))
y = numerical['total claim amount']

In [6]:
x

,0,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
0,0.0,-0.334914,0.218967,-1.546873,-0.819065,0.214078,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,-1.864614,-0.295792,-1.260678,-1.462015,-0.743570,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2.0,1.293258,-1.333005,0.628149,1.623408,-0.543420,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,3.0,1.732720,0.265959,0.534556,-0.441404,-1.919838,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,4.0,-0.255895,-0.309653,-1.352362,-0.686531,1.645332,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,9129.0,-1.388766,0.707771,-0.507518,1.340769,1.156594,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
9130,9130.0,1.576001,-0.295792,1.862420,-0.007926,-0.504540,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
9131,9131.0,-0.181957,0.756361,-1.172446,-0.819065,0.731847,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9132,9132.0,1.800855,-0.179044,1.945201,-0.326883,0.574219,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
9133,9133.0,1.022718,0.867975,1.631720,0.101133,-0.702716,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [7]:
y

0       292.800000
1       744.924331
2       480.000000
3       484.013411
4       287.556107
           ...
9129    355.200000
9130    897.600000
9131    273.018929
9132    381.306996
9133    618.288849
Name: total claim amount, Length: 9134, dtype: float64

In [8]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.4, random_state=100)

In [9]:
print(len(x))
print(len(x_train))
print(len(x_test))

9134
5480
3654

In [10]:
import statsmodels.api as sm

model = sm.OLS(y_train,x_train).fit()

In [11]:
predictions = model.predict(x_test)

In [12]:
predictions

7175    540.830847
7255    578.489297
2846    556.321776
1211    373.442723
4294    272.687779
           ...
1594    336.986503
636     670.378590
3326    556.073009
2604    653.089118
5252    514.105471
Length: 3654, dtype: float64

In [13]:
y

0       292.800000
1       744.924331
2       480.000000
3       484.013411
4       287.556107
           ...
9129    355.200000
9130    897.600000
9131    273.018929
9132    381.306996
9133    618.288849
Name: total claim amount, Length: 9134, dtype: float64

In [14]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import math

In [15]:
r2 = r2_score(y_test,predictions)
r2

0.7479934142854787

In [16]:
mse = mean_squared_error(y_test,predictions)
mse

20104.374939292928

In [17]:
rmse = math.sqrt(mse)
rmse

141.78989716934322